<html ng-app="GastosApp">
<head>
    <title>Gastos del Dia</title>
    
</head>
<body ng-controller="GastosController">
    <h2>$http Gastos</h2>


    <button ng-click="getRequest()">Press TipoGasto</button>

    <script src="script.js"></script>
</body>
</html>